In [1]:
import os
import warnings
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, time

warnings.filterwarnings("ignore")

In [2]:
paths = os.listdir(path='F:\\')
bb_path = list(filter(lambda file: file.endswith('BB.csv'), paths))[0]
hh_path = list(filter(lambda file: file.endswith('HH.csv'), paths))[0]
print(bb_path, hh_path)

SVO-AER_2018-01-01--2019-12-31BB.csv SVO-AER_2018-01-01--2019-12-31HH.csv

In [3]:
dates = ['FLTDAT', 'DAIS']
dtypes = {'FLTNUM': 'int16', 'TARIF_RUB': 'float16'}
bb = pd.read_csv('F:\\' + bb_path, delimiter=';', dtype=dtypes, parse_dates=dates)
bb = bb.dropna(how='any', axis=0)
bb.drop_duplicates(inplace=True)
bb['DEPARTURE'] = bb['FLTDAT'] + pd.to_timedelta(bb['FLTTIME'])
bb.head()

,AIRL,CPTK,TDNR,COUN,FLTDAT,FLTTIME,DAIS,MCAR,FLTNUM,ORAP,DSAP,BCLS,FBTD,KOL_CPN,TARIF_RUB,SALE_CURR,TARIF_SALE,USE_STAT,USE_DAT,DEPARTURE
0,555.0,5.190193e+09,5.190193e+09,2.0,2018-01-21,13:35:00,2018-01-20,SU,1124,SVO,AER,E,EVOR,1.0,2740.0,EUR,39.49,USED,2018-01-21,2018-01-21 13:35:00
1,555.0,5.963380e+09,5.963380e+09,4.0,2018-01-10,09:10:00,2017-11-13,SU,1122,SVO,AER,L,LVU,1.0,4744.0,EUR,68.78,USED,2018-01-10,2018-01-10 09:10:00
2,555.0,2.140311e+09,2.140311e+09,1.0,2018-01-11,09:10:00,2017-09-30,SU,1122,SVO,AER,N,NVUR,1.0,1530.0,RUB,1530.0,EXCH,2018-01-04,2018-01-11 09:10:00
3,555.0,2.140303e+09,2.140303e+09,1.0,2018-01-26,17:35:00,2017-09-30,SU,1140,SVO,AER,N,NVUR,1.0,1530.0,RUB,1529.88,USED,2018-01-26,2018-01-26 17:35:00
4,555.0,2.139698e+09,2.139698e+09,1.0,2018-01-06,09:10:00,2017-09-12,SU,1122,SVO,AER,N,NCLRCH25,1.0,1897.0,RUB,1897.11,USED,2018-01-06,2018-01-06 09:10:00

In [25]:
%%time
use_cols = ('SDAT_S', 'FLT_NUM', 'DD', 'SEG_CLASS_CODE', 'FCLCLD',
            'PASS_BK', 'SA', 'AU', 'PASS_DEP', 'NS', 'DTD')
dtypes = {'FLT_NUM': 'float16', 'PASS_BK': 'float16', 'SA': 'float16', 'AU': 'float16',
        'PASS_DEP': 'float16', 'NS': 'float16', 'DTD': 'float16'}
dates = ['SDAT_S', 'DD']
hh = pd.read_csv('F:\\' + hh_path, delimiter=';', dtype=dtypes, parse_dates=dates, usecols=use_cols)
size_gb = f'{sys.getsizeof(hh) / 1024 / 1024 / 1024} Gb'
hh.dropna(how='any', axis=0, inplace=True)
hh.drop_duplicates(inplace=True)
hh[['FLT_NUM', 'PASS_BK', 'SA', 'AU', 'PASS_DEP', 'NS', 'DTD']] = hh[['FLT_NUM', 'PASS_BK', 'SA', 'AU',
                                                           'PASS_DEP', 'NS', 'DTD']].astype(int)
hh.to_csv('F:\\hh_for_profiles.csv', index=False)
print(size_gb)
display(hh.head())

5.1270735105499625 Gb

,SDAT_S,FLT_NUM,DD,SEG_CLASS_CODE,FCLCLD,PASS_BK,SA,AU,PASS_DEP,NS,DTD
0,2018-01-02,1126,2018-01-01,J,1.0,12,0,20,12,0,-1
1,2018-01-02,1126,2018-01-01,C,1.0,0,0,18,0,0,-1
2,2018-01-02,1126,2018-01-01,D,1.0,3,0,16,3,0,-1
3,2018-01-02,1126,2018-01-01,I,1.0,0,0,14,0,0,-1
4,2018-01-02,1126,2018-01-01,Z,1.0,0,0,14,0,0,-1

Wall time: 18min 42s

In [4]:
%%time
dates = ['SDAT_S', 'DD']
dtypes = {'FLT_NUM': 'int16', 'FCLCLD': 'int16', 'PASS_BK': 'int16','SA': 'int16',
          'AU': 'int16', 'PASS_DEP': 'int16', 'NS': 'int16', 'DTD': 'int16'}
hh = pd.read_csv('F:\\hh_for_profiles.csv', dtype=dtypes, parse_dates=dates)

Wall time: 57.9 s

In [5]:
%%time
flight = 1126  # input()
date = datetime.strptime('2019-11-27', '%Y-%m-%d')  # input()
flttime = pd.Timedelta('21:20:00')  # input()
departure = date + flttime
two_hours = pd.Timedelta('2:00:00')
print("Выбранная дата/время",departure, date.strftime("%A"))
date_minus_52_weeks = date - timedelta(weeks=52)
date_minus_53_weeks = date_minus_52_weeks - timedelta(weeks=1) + flttime
date_minus_51_weeks = date_minus_52_weeks + timedelta(weeks=1) + flttime
print("Даты профиля:")
print(date_minus_52_weeks.date(), date_minus_53_weeks.date(), date_minus_51_weeks.date(), sep='\n')
filtered_bb = bb[(date_minus_52_weeks + flttime + two_hours >= bb['DEPARTURE']) &
                (date_minus_52_weeks + flttime - two_hours <= bb['DEPARTURE']) |
                (date_minus_53_weeks + two_hours >= bb['DEPARTURE']) &
                (date_minus_53_weeks - two_hours <= bb['DEPARTURE']) |
                (date_minus_51_weeks + two_hours >= bb['DEPARTURE']) &
                (date_minus_51_weeks - two_hours <= bb['DEPARTURE'])]
print(f"Отфильтрованных данных: {filtered_bb.shape[0]:_}")
merged = pd.merge(filtered_bb, hh, left_on=['FLTNUM', 'FLTDAT'], right_on=['FLT_NUM', 'DD'], how='inner')
merged = merged.dropna(how='any', axis=0)
merged.drop_duplicates(inplace=True)
merged.drop(columns=['FLTDAT', 'FLTTIME', 'FLT_NUM', 'DD', 'AIRL', 'CPTK', 'TDNR', 'COUN',
                     'DAIS', 'MCAR', 'ORAP', 'DSAP', 'TARIF_SALE', 'SALE_CURR', 'USE_STAT',
                     'FBTD', 'KOL_CPN'],
            inplace=True)
print(f"Объединённых данных: {merged.shape[0]:_}")
del filtered_bb

Выбранная дата/время 2019-11-27 21:20:00 Wednesday
Даты профиля:
2018-11-28
2018-11-21
2018-12-05
Отфильтрованных данных: 121
Объединённых данных: 582_978
Wall time: 5.18 s

# Сезонный профиль

## Уникальные рейсы (рейс/дата/время) в сезонном профиле:

In [6]:
unique_flights = (merged['FLTNUM'].astype(str) + ' ' +  (merged['DEPARTURE']).astype(str)).unique()
print(f'{len(unique_flights)} уникальных рейсов: {unique_flights}')
del unique_flights

6 уникальных рейсов: ['1128 2018-11-28 21:20:00' '1130 2018-11-21 23:00:00'
 '1128 2018-11-21 21:20:00' '1130 2018-11-28 23:00:00'
 '1128 2018-12-05 21:20:00' '1130 2018-12-05 23:00:00']

## Средние цены тарифов для классов в сезонном профиле:

In [7]:
bcls_mean = merged[['BCLS', 'TARIF_RUB']].copy()
bcls_mean = bcls_mean.groupby(by=['BCLS'])['TARIF_RUB'].mean().reset_index()
bcls_mean

  BCLS  TARIF_RUB
0    D    29504.0
1    E     4736.0
2    L     7788.0
3    N     2436.0
4    O     5700.0
5    Q     7136.0
6    R      865.0
7    T     5556.0
8    X        0.0

## Среднее количество и std броней (PASS_BK) в разрезе классов (BCLS) и дней до вылета (DTD):

In [11]:
mean_pass_bk = pd.pivot_table(merged, index='DTD', columns='BCLS', values='PASS_BK',
                              aggfunc=['mean'])
file_name = f'{departure} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_pass_bk s ' + file_name
mean_pass_bk.to_csv(file_name)
mean_pass_bk = pd.read_csv(file_name, index_col=0, skiprows=lambda row: row in [0, 2])
mean_pass_bk = mean_pass_bk.rename_axis('DTD').rename_axis('BCLS', axis=1)
display(mean_pass_bk)

std_pass_bk = pd.pivot_table(merged, index='DTD', columns='BCLS', values='PASS_BK',
                             aggfunc=['std'])
file_name = f's {str(date + flttime)} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'std_pass_bk s ' + file_name
std_pass_bk.to_csv(file_name)
std_pass_bk = pd.read_csv(file_name, index_col=0, skiprows=lambda row: row in [0, 2])
std_pass_bk = std_pass_bk.rename_axis('DTD').rename_axis('BCLS', axis=1)
display(std_pass_bk)

BCLS,D,E,L,N,O,Q,R,T,X
DTD,,,,,,,,,
-1,4.602273,5.590909,6.227273,4.838636,5.227273,6.227273,4.335859,6.045455,5.500000
0,4.602273,5.590909,6.227273,4.838636,5.227273,6.227273,4.335859,6.045455,5.500000
1,3.840909,5.627273,7.227273,4.134848,3.977273,7.227273,3.003788,6.045455,5.750000
2,3.022727,5.354545,7.136364,3.428788,3.113636,7.136364,2.296717,5.696970,5.272727
3,2.306818,5.145455,6.909091,2.943182,2.545455,6.909091,1.982323,5.424242,4.772727
...,...,...,...,...,...,...,...,...,...
213,0.113636,0.090909,0.090909,0.093939,0.090909,0.090909,0.095960,0.090909,0.090909
214,0.113636,0.090909,0.090909,0.093939,0.090909,0.090909,0.095960,0.090909,0.090909
215,0.113636,0.090909,0.090909,0.093939,0.090909,0.090909,0.095960,0.090909,0.090909
216,0.113636,0.090909,0.090909,0.093939,0.090909,0.090909,0.095960,0.090909,0.090909
217,0.113636,0.090909,0.090909,0.093939,0.090909,0.090909,0.095960,0.090909,0.090909

BCLS,D,E,L,N,O,Q,R,T,X
DTD,,,,,,,,,
-1,12.613202,14.250251,15.562526,13.241978,14.029642,15.622268,11.878688,15.276359,14.608854
0,12.613202,14.250251,15.562526,13.241978,14.029642,15.622268,11.878688,15.276359,14.608854
1,11.219735,16.293669,19.553642,12.466665,11.353698,19.628704,8.813347,17.175503,16.486957
2,8.736207,16.018101,19.577902,10.852073,8.821791,19.653057,6.634133,16.815716,15.622529
3,6.419005,15.884235,19.567637,9.870378,7.032994,19.642753,5.589152,16.657695,14.989708
...,...,...,...,...,...,...,...,...,...
213,0.465643,0.418504,0.418185,0.423308,0.421414,0.419790,0.427717,0.419790,0.421414
214,0.465643,0.418504,0.418185,0.423308,0.421414,0.419790,0.427717,0.419790,0.421414
215,0.465643,0.418504,0.418185,0.423308,0.421414,0.419790,0.427717,0.419790,0.421414
216,0.465643,0.418504,0.418185,0.423308,0.421414,0.419790,0.427717,0.419790,0.421414
217,0.465643,0.418504,0.418185,0.423308,0.421414,0.419790,0.427717,0.419790,0.421414

## Среднее количество улетевших пассажиров (PASS_DEP) в разрезе классов (BCLS) и дней до вылета (DTD) в момент времени -1:

In [67]:
mean_std_pass_dep = merged[merged['DTD'] == -1]
mean_std_pass_dep = mean_std_pass_dep.groupby(by=['BCLS'])['PASS_DEP'].agg(['mean', 'std'])
file_name = f'{departure} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_std_pass_dep s ' + file_name
mean_std_pass_dep.to_csv(file_name)
mean_std_pass_dep = pd.read_csv(file_name, index_col=0)
display(mean_std_pass_dep)

          mean        std
BCLS
D     4.579545  12.575036
E     5.518182  14.037781
L     6.227273  15.562526
N     4.735606  12.978922
O     5.045455  13.469957
Q     6.227273  15.622268
R     4.159091  11.348405
T     5.924242  14.946377
X     5.500000  14.608854

## Среднее количество неявившихся пассажиров (NS) в разрезе классов (BCLS) и дней до вылета (DTD):

In [68]:
mean_ns = merged[merged['DTD'] == -1]
mean_ns = mean_ns.groupby(by=['BCLS'])['NS'].agg(['mean'])
file_name = f'{departure} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_ns s ' + file_name
mean_ns.to_csv(file_name)
mean_ns = pd.read_csv(file_name, index_col=0)
display(mean_ns)

          mean
BCLS
D     0.102273
E     0.509091
L     0.772727
N     0.219697
O     0.159091
Q     0.772727
R     0.087121
T     0.575758
X     0.454545

# Динамический профиль

In [7]:
start_date = datetime.strptime('2019-01-01', '%Y-%m-%d')
flight = 1126
filtered_data = hh[(hh['FLT_NUM'] == flight) & (hh['DD'] == start_date)]
days_ago = int(max(filtered_data['DTD'].unique()) + 1)
print("Дней в динамическом профиле", days_ago) # дней между началом продаж и днём вылета
end_date = (start_date - timedelta(days=days_ago)).strftime('%Y-%m-%d')
print("Дата начала продаж:", end_date) # дата начала продаж
filtered_data = hh[(hh['DD'] >= end_date) & (hh['DD'] <= start_date) & (hh['FLT_NUM'] == flight)]
dates_in_dyn_profile = filtered_data['DD'].unique()
print("Количество уникальных дат:", len(dates_in_dyn_profile))
# далее идёт выбор из этих дат

Дней в динамическом профиле 218
Дата начала продаж: 2018-05-28
Количество уникальных дат: 219

In [10]:
%%time
date = datetime.strptime('2018-12-07', '%Y-%m-%d') # input()
flttime = pd.Timedelta('21:20:00') # input()
print(date.date(), str(flttime).replace('0 days ', ''), date.strftime("%A"))
one_day = timedelta(days=1)
date_minus_1_week = pd.to_datetime(date) - pd.DateOffset(weeks=1)
date_minus_2_weeks = pd.to_datetime(date) - pd.DateOffset(weeks=2)
print(f'Выбранная дата: {date.date()}')
print(f'Дата -1 неделя: {date_minus_1_week.date()}')
print(f'Дата -2 недели: {date_minus_2_weeks.date()}')
# 1 неделя назад +- 1 день
date_minus_1_week_gap = [date_minus_1_week,
                         date_minus_1_week + one_day, date_minus_1_week - one_day]
# 2 недели назад +- 1 день
date_minus_2_weeks_gap = [date_minus_2_weeks,
                          date_minus_2_weeks + one_day, date_minus_2_weeks - one_day]
print(date_minus_1_week.date(), date_minus_2_weeks.date(), sep='\n')
# фильтрация по дням
filtered_hh = hh[(hh['DD'].isin(date_minus_1_week_gap)) | (hh['DD'].isin(date_minus_2_weeks_gap))]
print(f"Отфильтрованных данных: {filtered_hh.shape[0]:_}")
merged = pd.merge(bb, filtered_hh, left_on=['FLTNUM', 'FLTDAT'], right_on=['FLT_NUM', 'DD'], how='inner')
merged = merged.dropna(how='any', axis=0)
print(f"Объединённых данных: {merged.shape[0]:_}")
two_hours = pd.Timedelta('2:00:00')
# 1 неделя назад в заданное время +- 2 часа
date_minus_1_week_gap = [date_minus_1_week + flttime + two_hours,
                         date_minus_1_week + flttime - two_hours]
# 2 недели назад в заданное время +- 2 часа
date_minus_2_weeks_gap = [date_minus_2_weeks + flttime + two_hours,
                          date_minus_2_weeks + flttime - two_hours]
# фильтрация по времени +- 2 часа
merged = merged[(date_minus_1_week_gap[0] >= merged['DEPARTURE']) &
                (date_minus_1_week_gap[1] <= merged['DEPARTURE']) |
                (date_minus_2_weeks_gap[0] >= merged['DEPARTURE']) &
                (date_minus_2_weeks_gap[1] <= merged['DEPARTURE'])]
merged = merged.drop(columns=['DD', 'FLT_NUM'], axis=1)
merged = merged.dropna(how='any')
print(f"Отфильрованных по времени данных: {merged.shape[0]:_}")

2018-12-07 21:20:00 Friday
Выбранная дата: 2018-12-07
Дата -1 неделя: 2018-11-30
Дата -2 недели: 2018-11-23
2018-11-30
2018-11-23
Отфильтрованных данных: 567_703
Объединённых данных: 19_964_440
Отфильрованных по времени данных: 1_586_310
Wall time: 12.5 s

## Уникальные рейсы (рейс/дата/время) в сезонном профиле:

In [11]:
unique_flights = (merged['FLTNUM'].astype(str) + ' ' +
                 (merged['FLTDAT'] + merged['FLTTIME']).astype(str)).unique()
print(f'{len(unique_flights)} уникальных рейсов: {unique_flights}')

4 уникальных рейсов: ['1128 2018-11-30 21:20:00' '1130 2018-11-23 23:00:00'
 '1130 2018-11-30 23:00:00' '1128 2018-11-23 21:20:00']

## Средние цены тарифов для классов в сезонном профиле:

In [12]:
bcls_mean = merged[['BCLS', 'TARIF_RUB']].copy()
bcls_mean = bcls_mean.groupby(by=['BCLS'])['TARIF_RUB'].mean().reset_index()
bcls_mean

  BCLS  TARIF_RUB
0    C    34464.0
1    D    29504.0
2    E     3062.0
3    M        0.0
4    N     1905.0
5    O        0.0
6    Q     5732.0
7    R      751.0
8    T     4652.0

## Среднее количество броней (PASS_BK) в разрезе классов (BCLS) и дней до вылета (DTD):

In [13]:
mean_pass_bk = pd.pivot_table(merged, index='DTD', columns='BCLS', values='PASS_BK',
                              aggfunc=['mean'])
file_name = f'{str(date + flttime)} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_pass_bk d ' + file_name
mean_pass_bk.to_csv(file_name)
mean_pass_bk = pd.read_csv(file_name, index_col=0, skiprows=lambda row: row in [0, 2])
mean_pass_bk = mean_pass_bk.rename_axis('DTD').rename_axis('BCLS', axis=1)
display(mean_pass_bk)

std_pass_bk = pd.pivot_table(merged, index='DTD', columns='BCLS', values='PASS_BK',
                             aggfunc=['std'])
file_name = f'{str(date + flttime)} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'std_pass_bk d ' + file_name
std_pass_bk.to_csv(file_name)
std_pass_bk = pd.read_csv(file_name, index_col=0, skiprows=lambda row: row in [0, 2])
std_pass_bk = std_pass_bk.rename_axis('DTD').rename_axis('BCLS', axis=1)
display(std_pass_bk)

BCLS,C,D,E,M,N,O,Q,R,T
DTD,,,,,,,,,
-1,5.227273,5.227273,7.272727,7.272727,6.339246,7.272727,5.227273,5.902893,5.227273
0,5.227273,5.227273,7.272727,7.272727,6.339246,7.272727,5.227273,5.902893,5.227273
1,5.454545,5.454545,7.045455,7.045455,5.717849,7.045455,5.454545,4.979339,5.454545
2,5.454545,5.454545,6.454545,6.454545,5.253880,6.454545,5.454545,4.603306,5.454545
3,5.363636,5.363636,6.227273,6.227273,4.896896,6.227273,5.363636,4.134298,5.363636
...,...,...,...,...,...,...,...,...,...
213,0.181818,0.181818,0.136364,0.136364,0.124723,0.136364,0.181818,0.115702,0.181818
214,0.136364,0.136364,0.136364,0.136364,0.116962,0.136364,0.136364,0.105372,0.136364
215,0.136364,0.136364,0.136364,0.136364,0.116962,0.136364,0.136364,0.105372,0.136364
216,0.136364,0.136364,0.136364,0.136364,0.116962,0.136364,0.136364,0.105372,0.136364
217,0.136364,0.136364,0.136364,0.136364,0.116962,0.136364,0.136364,0.105372,0.136364

BCLS,C,D,E,M,N,O,Q,R,T
DTD,,,,,,,,,
-1,10.188602,10.129878,15.338675,15.492479,14.222040,15.403185,10.100894,14.022027,10.129878
0,10.129878,10.100894,15.327032,15.403185,14.220069,15.359113,10.086495,14.018403,10.100894
1,10.826648,10.795670,14.799040,14.872569,13.153956,14.830015,10.780281,12.086834,10.795670
2,10.852098,10.821047,14.735073,14.808284,12.761134,14.765914,10.805622,11.569526,10.821047
3,10.770524,10.739707,14.636512,14.709233,11.957480,14.667147,10.724397,10.131974,10.739707
...,...,...,...,...,...,...,...,...,...
213,0.492366,0.490957,0.457159,0.459430,0.447361,0.458116,0.490257,0.439687,0.490957
214,0.459430,0.458116,0.457159,0.459430,0.440732,0.458116,0.457463,0.430434,0.458116
215,0.459430,0.458116,0.457159,0.459430,0.440732,0.458116,0.457463,0.430434,0.458116
216,0.459430,0.458116,0.457159,0.459430,0.440732,0.458116,0.457463,0.430434,0.458116
217,0.459430,0.458116,0.457159,0.459430,0.440732,0.458116,0.457463,0.430434,0.458116

## Среднее количество улетевших пассажиров (PASS_DEP) в разрезе классов (BCLS) и дней до вылета (DTD) в момент времени -1:

In [14]:
mean_std_pass_dep = merged[merged['DTD'] == -1]
mean_std_pass_dep = mean_std_pass_dep.groupby(by=['BCLS'])['PASS_DEP'].agg(['mean', 'std'])
file_name = f'{str(date + flttime)} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_std_pass_dep d ' + file_name
mean_std_pass_dep.to_csv(file_name)
mean_std_pass_dep = pd.read_csv(file_name, index_col=0)
display(mean_std_pass_dep)

          mean        std
BCLS
C     5.227273  10.188602
D     5.227273  10.129878
E     7.272727  15.338675
M     7.272727  15.492479
N     6.223947  13.837972
O     7.272727  15.403185
Q     5.227273  10.100894
R     5.704545  13.382508
T     5.227273  10.129878

## Среднее количество неявившихся пассажиров (NS) в разрезе классов (BCLS) и дней до вылета (DTD):

In [15]:
mean_ns = merged[merged['DTD'] == -1]
mean_ns = mean_ns.groupby(by=['BCLS'])['NS'].agg(['mean'])
file_name = f'{str(date + flttime)} +- {str(two_hours).replace("0 days ", "")}.csv'.replace(':', '.')
file_name = 'mean_ns d ' + file_name
mean_ns.to_csv(file_name)
mean_ns = pd.read_csv(file_name, index_col=0)
display(mean_ns)

          mean
BCLS
C     0.272727
D     0.272727
E     0.045455
M     0.045455
N     0.093126
O     0.045455
Q     0.272727
R     0.121901
T     0.272727