In [71]:
import os
import warnings
import sys
import pandas as pd
from datetime import datetime, timedelta, time

warnings.filterwarnings("ignore")

In [2]:
paths = os.listdir(path='F:\\')
bb_path = list(filter(lambda file: file.endswith('BB.csv'), paths))[0]
hh_path = list(filter(lambda file: file.endswith('HH.csv'), paths))[0]
print(bb_path, hh_path)

SVO-AER_2018-01-01--2019-12-31BB.csv SVO-AER_2018-01-01--2019-12-31HH.csv

In [3]:
use_cols = ['SDAT_S', 'FLT_NUM', 'DD', 'SEG_CLASS_CODE']
dtypes={'FLT_NUM': 'float16'}
dates = ['SDAT_S', 'DD']
hh = pd.read_csv('F:\\' + hh_path, delimiter=';', dtype=dtypes, parse_dates=dates, usecols=use_cols)
size_gb = f'{sys.getsizeof(hh) / 1024 / 1024 / 1024} Gb'
print(size_gb)
display(hh.head())

4.058933204971254 Gb

      SDAT_S  FLT_NUM         DD SEG_CLASS_CODE
0 2018-01-02   1126.0 2018-01-01              J
1 2018-01-02   1126.0 2018-01-01              C
2 2018-01-02   1126.0 2018-01-01              D
3 2018-01-02   1126.0 2018-01-01              I
4 2018-01-02   1126.0 2018-01-01              Z

In [7]:
hh.dropna(how='any', axis=0, inplace=True)
hh.drop_duplicates(inplace=True, ignore_index=True)
hh.to_csv('F:\\HH__SDAT_S__FLT_NUM__DD__SEG_CLASS_CODE.csv')

In [13]:
use_cols = ['SDAT_S', 'FLT_NUM', 'DD', 'SEG_CLASS_CODE']
dtypes={'FLT_NUM': 'float16'}
dates = ['SDAT_S', 'DD']
hh = pd.read_csv('F:\\HH__SDAT_S__FLT_NUM__DD__SEG_CLASS_CODE.csv', dtype=dtypes, parse_dates=dates, usecols=use_cols)
hh['FLT_NUM'] = hh['FLT_NUM'].astype(int)
display(hh.head())

      SDAT_S  FLT_NUM         DD SEG_CLASS_CODE
0 2018-01-02     1126 2018-01-01              J
1 2018-01-02     1126 2018-01-01              C
2 2018-01-02     1126 2018-01-01              D
3 2018-01-02     1126 2018-01-01              I
4 2018-01-02     1126 2018-01-01              Z

In [112]:
dates = ["FLTDAT", "DAIS", "USE_DAT"]
dtypes = {'TARIF_SALE': 'object', 'SALE_CURR': 'object', 'FLTNUM': 'int32'}
bb = pd.read_csv('F:\\' + bb_path, delimiter=';', dtype=dtypes, parse_dates=dates)
bb = bb.dropna(how='any')
bb['TARIF_SALE'] = bb['TARIF_SALE'].astype(float)
bb['FLTTIME'] = pd.to_timedelta(bb['FLTTIME'])
bb[['CPTK', 'TDNR', 'TARIF_RUB', 'TARIF_SALE', 'AIRL', 'COUN', 'KOL_CPN']] = bb[['CPTK', 'TDNR', 'TARIF_RUB', 'TARIF_SALE', 'AIRL', 'COUN', 'KOL_CPN']].astype('float32')
bb['DEPARTURE'] = bb['FLTDAT'] + bb['FLTTIME']
bb.head()

,AIRL,CPTK,TDNR,COUN,FLTDAT,FLTTIME,DAIS,MCAR,FLTNUM,ORAP,DSAP,BCLS,FBTD,KOL_CPN,TARIF_RUB,SALE_CURR,TARIF_SALE,USE_STAT,USE_DAT,DEPARTURE
0,555.0,5.190193e+09,5.190193e+09,2.0,2018-01-21,0 days 13:35:00,2018-01-20,SU,1124,SVO,AER,E,EVOR,1.0,2740.229980,EUR,39.490002,USED,2018-01-21,2018-01-21 13:35:00
1,555.0,5.963380e+09,5.963380e+09,4.0,2018-01-10,0 days 09:10:00,2017-11-13,SU,1122,SVO,AER,L,LVU,1.0,4744.339844,EUR,68.779999,USED,2018-01-10,2018-01-10 09:10:00
2,555.0,2.140311e+09,2.140311e+09,1.0,2018-01-11,0 days 09:10:00,2017-09-30,SU,1122,SVO,AER,N,NVUR,1.0,1530.000000,RUB,1530.000000,EXCH,2018-01-04,2018-01-11 09:10:00
3,555.0,2.140303e+09,2.140303e+09,1.0,2018-01-26,0 days 17:35:00,2017-09-30,SU,1140,SVO,AER,N,NVUR,1.0,1529.880005,RUB,1529.880005,USED,2018-01-26,2018-01-26 17:35:00
4,555.0,2.139698e+09,2.139698e+09,1.0,2018-01-06,0 days 09:10:00,2017-09-12,SU,1122,SVO,AER,N,NCLRCH25,1.0,1897.109985,RUB,1897.109985,USED,2018-01-06,2018-01-06 09:10:00

In [69]:
print('Все рейсы из списка', sorted(hh['FLT_NUM'].unique()))

Все рейсы из списка [112, 1116, 1118, 1120, 1122, 1124, 1125, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1148, 1152, 1740, 1772, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 2980, 2990, 6180, 6184]

In [161]:
flight = 1126  # input()
date = datetime.strptime('2019-11-27', '%Y-%m-%d')  # input()
flttime = pd.Timedelta('21:20:00')  # input()
print(date.date(), flttime, date.strftime("%A"))
one_day = timedelta(days=1)
date_minus_52_weeks = date - timedelta(weeks=52)
date_minus_53_weeks = date_minus_52_weeks - timedelta(weeks=1)
date_minus_51_weeks = date_minus_52_weeks + timedelta(weeks=1)
# 52 недели назад +- 1 день
date_minus_52_weeks_gap = [date_minus_52_weeks,
                           date_minus_52_weeks + one_day, date_minus_52_weeks - one_day]
# 53 недели назад +- 1 день
date_minus_53_weeks_gap = [date_minus_53_weeks,
                           date_minus_53_weeks + one_day, date_minus_53_weeks - one_day]
# 51 неделя назад +- 1 день
date_minus_51_weeks_gap = [date_minus_51_weeks,
                           date_minus_51_weeks + one_day, date_minus_51_weeks - one_day]
print(date_minus_52_weeks.date(), date_minus_53_weeks.date(), date_minus_51_weeks.date(), sep='\n')
# фильтрация по дням
filtered_hh = hh[(hh['DD'].isin(date_minus_52_weeks_gap)) |
                 (hh['DD'].isin(date_minus_53_weeks_gap)) |
                 (hh['DD'].isin(date_minus_51_weeks_gap))]
print(f"Отфильтрованных данных: {filtered_hh.shape[0]:_}")
merged = pd.merge(bb, filtered_hh, left_on=['FLTNUM', 'FLTDAT'], right_on=['FLT_NUM', 'DD'], how='inner')
merged.drop_duplicates(inplace=True, ignore_index=True)
print(f"Объединённых данных: {merged.shape[0]:_}")
three_hours = pd.Timedelta('3:00:00')
# 52 недели назад в заданное время +- 3 часа
date_minus_52_weeks_gap = [date_minus_52_weeks + flttime + three_hours,
                           date_minus_52_weeks + flttime - three_hours]
# 53 недели назад в заданное время +- 3 часа
date_minus_53_weeks_gap = [date_minus_53_weeks + flttime + three_hours,
                           date_minus_53_weeks + flttime - three_hours]
# 51 неделя назад в заданное время +- 3 часа
date_minus_51_weeks_gap = [date_minus_51_weeks + flttime + three_hours,
                           date_minus_51_weeks + flttime - three_hours]
# фильтрация по времени +- 3 часа
merged = merged[(date_minus_52_weeks_gap[0] >= merged['DEPARTURE']) &
                (date_minus_52_weeks_gap[1] <= merged['DEPARTURE']) |
                (date_minus_53_weeks_gap[0] >= merged['DEPARTURE']) &
                (date_minus_53_weeks_gap[1] <= merged['DEPARTURE']) |
                (date_minus_51_weeks_gap[0] >= merged['DEPARTURE']) &
                (date_minus_51_weeks_gap[1] <= merged['DEPARTURE'])]
print(f"Отфильрованных по времени данных: {merged.shape[0]:_}")
merged = merged.drop(columns=['DD', 'FLT_NUM'], axis=1)

2019-11-27 0 days 21:20:00 Wednesday
2018-11-28 00:00:00
2018-11-21 00:00:00
2018-12-05 00:00:00
Отфильтрованных данных: 417_384
Объединённых данных: 6_202_130
Отфильрованных по времени данных: 623_876

In [162]:
merged.head()

,AIRL,CPTK,TDNR,COUN,FLTDAT,FLTTIME,DAIS,MCAR,FLTNUM,ORAP,...,FBTD,KOL_CPN,TARIF_RUB,SALE_CURR,TARIF_SALE,USE_STAT,USE_DAT,DEPARTURE,SDAT_S,SEG_CLASS_CODE
661210,555.0,2.883625e+09,2.883625e+09,1.0,2018-11-28,0 days 21:20:00,2018-11-21,SU,1128,SVO,...,RSOR,1.0,751.98999,TRY,61.0,USED,2018-11-28,2018-11-28 21:20:00,2018-11-29,J
661211,555.0,2.883625e+09,2.883625e+09,1.0,2018-11-28,0 days 21:20:00,2018-11-21,SU,1128,SVO,...,RSOR,1.0,751.98999,TRY,61.0,USED,2018-11-28,2018-11-28 21:20:00,2018-11-29,C
661212,555.0,2.883625e+09,2.883625e+09,1.0,2018-11-28,0 days 21:20:00,2018-11-21,SU,1128,SVO,...,RSOR,1.0,751.98999,TRY,61.0,USED,2018-11-28,2018-11-28 21:20:00,2018-11-29,D
661213,555.0,2.883625e+09,2.883625e+09,1.0,2018-11-28,0 days 21:20:00,2018-11-21,SU,1128,SVO,...,RSOR,1.0,751.98999,TRY,61.0,USED,2018-11-28,2018-11-28 21:20:00,2018-11-29,I
661214,555.0,2.883625e+09,2.883625e+09,1.0,2018-11-28,0 days 21:20:00,2018-11-21,SU,1128,SVO,...,RSOR,1.0,751.98999,TRY,61.0,USED,2018-11-28,2018-11-28 21:20:00,2018-11-29,Z